<!DOCTYPE html>
<html>
	<head>
		<title>Nile Korobkov</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/sport_picks">Sport Picks</a></li>
        		<li><a href="/equities">Equities</a></li>
				<li><a href="/shop">Shop</a></li>
        		<li><a href="/cur_events">Current Events</a></li>
				<li><a href="/about">About Me</a></li>
				<li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
			<div class="blurb">
				<h1>Welcome!</h1>
				<p>I'm <b>Nile Korobkov and this is my website</b></p>
				<p>Here you will find an array of interesting topics, all of which I hold a great passion for.</a></p>
				<p>Whether it is sports, stocks, or shoes, I will be sure to update my site with the most interesting and valuable information available.</p>
			</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>Also available for purchase on my site are a variety of consulting packages, the validity of which are correborated through historical results posted above.</li>
				<p>
				<li>Please feel free to reach out to me through the information provided on my Contact page (usual response time no more that 6 hours)</li>
			</ul>
		</footer>
	</body>
</html>